{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
Categories
{% endblock %}

{% block body %}


    {% if categories %}
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            {% for category in categories %}
            
            <div class="col-lg-4 col-md-6 pb-1">
                <a href="{% url 'categories' category=category %}" class="cat-img position-relative overflow-hidden mb-3">
                    <div class="cat-item d-flex flex-row justify-content-between border mb-4" style="padding: 30px;">
                        <h5 class="font-weight-semi-bold m-0">{{ category| capfirst }}</h5>
                       
                    </div>
                    
                </a>
            </div> 
            {% endfor %}      
        </div>
    </div>

    {% else %}

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">{{ category }}</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
    
            {% for q in cat_list %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ q.image.url }}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{q.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <p>Current Bid: <strong class="text-dark">${{q.current_price}}</strong></p>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center bg-light border">
                        <a href="{% url 'listing' id=q.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 
    </div>
    <!-- new Products End -->
        
    {% endif %}
   
<!-- Categories End -->

{% endblock %}