{% extends 'auctions/layout.html' %}
{% load static %}

{% block title %}
Watchlist
{% endblock %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Your Watchlist</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop Detail</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Products Start -->
<div class="container-fluid pt-5">
    
    <div class="row px-xl-5 pb-3">

        {% for q in watchlist %}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src="{{ q.listing_id.image.url }}" alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{q.listing_id.title}}</h6>
                    <div class="d-flex justify-content-center">
                        
                        <p>Current Bid: <strong class="text-dark">${{q.listing_id.current_price}}</strong></p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center bg-light border">
                    <a href="{% url 'listing' id=q.listing_id.pk %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    
                </div>
                <div class="card-footer d-flex justify-content-center bg-light border">
                    <form action="{% url 'watchlist' %}" method="post" >
                        {% csrf_token %}
                            <button class="btn btn-sm text-dark p-0" type="submit" name="watchlist_del" value="{{ q.pk }}" ><i class="fas fa-shopping-cart text-primary mr-1"></i>Remove from Watchlist</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->
   


{% endblock %}